<VirtualHost *:80>
  ServerName {{ item.server_name }}
{% if item.server_aliases|default('None') != 'None' %}
  ServerAlias{% for alias in item.server_aliases %} {{ alias }}{% endfor %}

{% endif %}
  DocumentRoot "{{ item.php_root|default(PHP_ROOT) }}/{{ item.name }}"
  <Directory "{{ item.php_root|default(PHP_ROOT) }}/{{ item.name }}">
    DirectoryIndex index.php
    AllowOverride All
    Require all granted
  </Directory>
  SetEnv APPLICATION_ENV "production"
  CustomLog "/var/php/logs/{{ item.name }}-access.log" "%h %l %u %t \"%r\" %>s %b"
  ErrorLog "/var/php/logs/{{ item.name }}-error.log"
  LogLevel info
</VirtualHost>
