<VirtualHost *:80>
  ServerName {{ item.server_name }}
{% if item.server_aliases|default('None') != 'None' %}
  ServerAlias{% for alias in item.server_aliases %} {{ alias }}{% endfor %}

{% endif %}
  DocumentRoot "{{ item.php_root|default(PHP_ROOT) }}/{{ item.project }}"
  <Directory "{{ item.php_root|default(PHP_ROOT) }}/{{ item.project }}">
    DirectoryIndex index.php
    AllowOverride All
    Order allow, deny
    Allow from all
  </Directory>
  SetEnv APPLICATION_ENV "production"
  CustomLog "/var/php/logs/{{ item.name }}-access.log"
  ErrorLog "/var/php/logs/{{ item.name }}-error.log"
  LogLevel info
</VirtualHost>
