SSLCertificateFile /etc/pki/tls/certs/wrds-{{ WEB_ENVIRONMENT|default('nonprod') }}_cert.crt-endpoint
SSLCertificateKeyFile /etc/pki/tls/private/wrds-{{ WEB_ENVIRONMENT|default('nonprod') }}_cert.key
SSLCertificateChainFile /etc/pki/tls/certs/InCommonRSAServerCA_2.pem
SSLCipherSuite TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA:TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA:TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA:HIGH:!aNULL:!MD5
SSLHonorCipherOrder on
SSLCompression off
SSLProtocol all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1

Listen 443

ErrorLog "|/usr/sbin/cronolog /var/log/httpd/errorlog/%Y/%Y-%m-{{ inventory_hostname_short }}-error_ssl.log"
TransferLog "|/usr/sbin/cronolog /var/log/httpd/transferlog/%Y/%Y-%m-{{ inventory_hostname_short }}-transfer_ssl.log"
