SSLCertificateFile /etc/pki/tls/certs/_cert.crt-endpoint
SSLCertificateKeyFile /etc/pki/tls/private/_cert.key
SSLCertificateChainFile /etc/pki/tls/certs/InCommonRSAServerCA_2.pem
SSLCipherSuite TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA:TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA:TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA:HIGH:!aNULL:!MD5
SSLHonorCipherOrder on
SSLCompression off
SSLProtocol all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1

Listen 443
